* {
  padding: 10px;
  text-align: justify;
  color: aliceblue;
  font-weight: bolder;
}
body {
  margin: 0;
}
.container {
  height: 100fr;
  width: 100fr;
  background-color: rgb(243, 238, 238);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

  gap: 5px;
}

.header {
  background-color: rgb(244, 190, 89);
  grid-area: 1/1/1/5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
}

.logo {
  grid-area: 1/1/1/2;
  background-color: bisque;
}

.nav {
  background-color: bisque;
  grid-area: 1/2/1/6;
}
.sidebar {
  background-color: cadetblue;
  grid-area: 2/1/6/2;
  display: grid;
  gap: 10px;
}
.news {
  background-color: rgb(141, 209, 211);
}
.Event {
  background-color: rgb(141, 209, 211);
}
.Contact {
  background-color: rgb(141, 209, 211);
}
.main {
  background-color: blueviolet;
  grid-area: 2/2/5/5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 1fr;
}
.First {
  background-color: rgb(219, 193, 244);
  margin: 40px 10px;
}

.footer {
  background-color: rgb(33, 81, 116);
  grid-area: 5/2/6/5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 5px;
}
.copy {
  background-color: rgb(200, 229, 250);
  grid-area: 1/1/1/4;
}
.logo2 {
  background-color: rgb(200, 229, 250);
  grid-area: 1/4/1/5;
}
