* {
}

.header {
  background-color: rgb(107, 182, 146);
  height: 50px;
  width: 700px;
  border: 2px solid black;
  padding: 0;
  margin: 0;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 50px;
  align-items: center;
  overflow: hidden;
  font-size: larger;
  font-family: sans-serif;
}

.button {
  box-shadow: 1px 3px 3px 1px;
  align-self: center;
  justify-self: center;
  text-transform: uppercase;
  font-weight: 550;
  margin-right: 10px;
  font-size: 20px;
}
.nav_1 {
  grid-area: 1/1/1/1;
  padding-left: 10px;
}
.nav_2 {
  grid-area: 1/2/1/3;
}
.nav_3_serlis {
  grid-area: 1/3/1/4;
  position: relative;
}
.nav_4 {
  grid-area: 1/4/1/5;
}
.button {
  grid-area: 1/6/1/7;
}
/* Nav links style*/
a:link,
a:visited {
  color: darkblue;
}

a:hover {
  color: gold;
}
a:active {
  color: darkblue;
}
a {
  text-decoration: none;
}

/*Dropdown Servise List*/
.dp_button {
  background-color: rgb(107, 182, 146);
  color: darkblue;
  border: none;
  font-size: 20px;
  padding: 10px;
}

.dp_content {
  display: none;
  background-color: rgb(107, 182, 146);
  width: 120px;
  position: absolute;
  margin: 10px;
}
.dp_content a {
  color: darkblue;
  text-decoration: none;
}
.dp_content a:hover {
  background-color: rgb(107, 182, 146);
}
.nav_3_dplist:hover .dp_content {
  display: block;
}
