root {
  --orange: #f16718;
  --orange-hover: #ff9b62;
  --main-color: #162542;
  --blue-gray: #7b8bad;
  --ice-blue: #e8eff2;
  --white: #fff;
}
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  font-size: 10px;
}

body {
  font-family: "Barlow", sans-serif;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--blue-gray);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  text-transform: uppercase;
  color: var(--main-color);
}
h1 {
  font-size: 5.6rem;
  line-height: 5.6rem;
}
h2 {
  font-size: 3.2rem;
  line-height: 3.6rem;
}
h3 {
  font: size 2.4rem;
  line-height: 2.8rem;
}
.container {
  max-width: 1110px;
  margin: auto;
}

.flex {
  display: flex;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  margin-top: 30px;
  gap: 30px;
}

.btn {
  padding: 1.6rem 2.6rem;
  font-weight: 700;
  border-radius: 8px;
}
.btn-main {
  background-color: var(--orange);
  color: #fff;
}
.btn-main:hover {
  background-color: var(--orange-hover);
}
.btn-sec {
  background-color: var(--ice-blue);
  color: var(--main-color);
}

.btn-sec:hover {
  background-color: var(--main-color);
  color: var(--white);
}
a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

nav {
  margin-top: 55px;
}
nav.flex {
  margin-top: 55px;
  justify-content: space-between;
}

.hero {
  margin-top: 83px;
}
.hero.flex {
  gap: 125px;
  align-items: center;
}
.hero-image {
  max-width: 540px;
}
.hero-image img {
  border-radius: 20px;
}
h1 {
  margin-bottom: 24px;
}

.hero p {
  font-size: 1.8rem;
  margin-bottom: 40px;
}
.hero-text .flex {
  gap: 40px;
}
.grid img {
  height: 480px;
  display: inline-block;
  border-radius: 20px;
  transition: all 0.3s ease-in;
}

.grid img:hover {
  transform: translateY(10px);
}
main .container {
  margin-bottom: 168px;
}
main .grid div:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main h3,
p {
  width: 255px;
}
main h3 {
  margin-bottom: 27px;
}
section.flex {
  gap: 30px;
}
section img {
  background-color: var(--orange);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 48px;
  font-size: 15px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;

  width: 65px;
}
h3 {
  margin-bottom: 24px;
  font-weight: 800;
}
section.container {
  margin-top: 168px;
}
