body {
  background-color: blanchedalmond;
}
.article {
  background-color: aliceblue;
  height: 300px;
  width: 600px;
  border: solid black;
}
.art2 {
  background-color: aliceblue;
  border: dotted red;
  height: 300px;
  width: 600px;
}
#art3 {
  border: dotted red;
  height: 200px;
  width: 560px;
  margin-left: 2%;
}
.margin {
  margin: 2%;
}
.span {
  display: inline;
  background: rgba(212, 212, 112, 0.634);
}
.high {
  display: inline;
  background: rgba(235, 52, 52, 0.859);
}
